# AI models/v1/Idgham_tajweed_rule_model
# AI models/v1/Ikhfaa_tajweed_rule_model
# AI models/v1/imala_tajweed_rule_model
# AI models/v1/madd_2_tajweed_rule_model
# AI models/v1/madd_6_Lazim_tajweed_rule_model
# AI models/v1/madd_6_tajweed_rule_model
# AI models/v1/madd_246_tajweed_rule_model
# AI models/v1/qalqala_tajweed_rule_model
# AI models/v1/tafkhim_tajweed_rule_model

# AI models/v2/Idgham_tajweed_rule_model
# AI models/v2/Ikhfaa_tajweed_rule_model
# AI models/v2/imala_tajweed_rule_model
# AI models/v2/madd_2_tajweed_rule_model
# AI models/v2/madd_6_Lazim_tajweed_rule_model
# AI models/v2/madd_6_tajweed_rule_model
# AI models/v2/madd_246_tajweed_rule_model
AI models/v2/qalqala_tajweed_rule_model
AI models/v2/tafkhim_tajweed_rule_model

AI models/v3/Idgham_tajweed_rule_model
AI models/v3/Ikhfaa_tajweed_rule_model
AI models/v3/imala_tajweed_rule_model
AI models/v3/madd_2_tajweed_rule_model
AI models/v3/madd_6_Lazim_tajweed_rule_model
AI models/v3/madd_6_tajweed_rule_model
AI models/v3/madd_246_tajweed_rule_model
AI models/v3/qalqala_tajweed_rule_model
AI models/v3/tafkhim_tajweed_rule_model

AI models/v4/Idgham_tajweed_rule_model
AI models/v4/Ikhfaa_tajweed_rule_model
AI models/v4/imala_tajweed_rule_model
AI models/v4/madd_2_tajweed_rule_model
AI models/v4/madd_6_Lazim_tajweed_rule_model
AI models/v4/madd_6_tajweed_rule_model
AI models/v4/madd_246_tajweed_rule_model
AI models/v4/qalqala_tajweed_rule_model
AI models/v4/tafkhim_tajweed_rule_model

AI models/v5/Idgham_tajweed_rule_model
AI models/v5/Ikhfaa_tajweed_rule_model
AI models/v5/imala_tajweed_rule_model
AI models/v5/madd_2_tajweed_rule_model
AI models/v5/madd_6_Lazim_tajweed_rule_model
AI models/v5/madd_6_tajweed_rule_model
AI models/v5/madd_246_tajweed_rule_model
AI models/v5/qalqala_tajweed_rule_model
AI models/v5/tafkhim_tajweed_rule_model